<div class="loadImgContainer fadeIn" layout="row" layout-sm="column" layout-align="center center">
	<md-progress-circular md-theme="circularProgressTheme" md-mode="indeterminate" md-diameter="{{circularDiameter}}" class="md-primary"></md-progress-circular>
</div>
